body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Graphit-EdgeNode {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.Indent {
  white-space: pre;
}

.Graphit-Edge {
  font-weight: 600;
}

.Graphit-Edge:empty {
  padding-left: 1em;
}

/* Estilo para que linhas vazias tenham mesma altura que linhas preenchidas*/
/*https://stackoverflow.com/questions/14217902/how-to-set-empty-span-height-equal-to-default-line-height*/
.Graphit-Node:empty::before {
  content: "\200b";
}
.Graphit-Edge:empty::before {
  content: "\200b";
}

.Graphit-Node:empty {
  border-style: solid;
  border-width: 1px;
  border-color: cadetblue;
  padding-right: 1em;
}